<app-header></app-header>

<div class="p-grid">
  <div class="p-col-fixed centered error-message-container">
    <div class="p-grid">
      <div class="p-col-12">
        <p-messages [(value)]="errorMsgs"></p-messages>
      </div>
    </div>
  </div>
</div>


<div class="article-form">
  <div class="p-grid">
    <div class="p-col-12">
      <div *ngIf="STATE === STATES.VIEW">
        <h2 class="page-title">View Quiz</h2>
      </div>
      <div *ngIf="STATE === STATES.EDIT">
        <h2 class="page-title">Edit Quiz</h2>
      </div>
      <div *ngIf="STATE === STATES.NEW">
        <h2 class="page-title">Create Quiz</h2>
      </div>
    </div>

    <div class="p-col-fixed centered">
      <div *ngIf="STATE === STATES.VIEW">
        <div class="control-buttons">
          <button pButton type="button" label="Edit" class="ui-button-raised ui-button-rounded" (click)="editArticle()"></button>
          <button pButton type="button" label="Delete" class="ui-button-raised ui-button-rounded" (click)="deleteConfirmation()"></button>
        </div>
      </div>
    </div>
  </div>


  <div class="p-grid" style="margin-left: 5px;">
    <div class="p-col-8">
      <div class="p-grid data-line">
        <div class="p-col-12"></div>
        <div class="p-col-4">
          <h2>General Information</h2>
        </div>
        <div class="p-col-6"></div>
        <div class="p-col-4">
          <label for="title">Title</label>
        </div>
        <div class="p-col-6">
          <input pInputText id="title" [disabled]="STATE === STATES.VIEW">
        </div>
        <div class="p-col-4">
          <label for="Description">Description</label>
        </div>
        <div class="p-col-6">
          <input pInputText id="Description" [disabled]="STATE === STATES.VIEW">
        </div>
        <div class="p-col-4">
          <label for="duration">Choose a duration in seconds for each question
          </label>
          <i class="fa fa-info-circle tooltip" pTooltip="#"></i>
        </div>
        <div class="p-col-6">
          <input pInputText id="duration" [disabled]="STATE === STATES.VIEW">
        </div>
        <div class="p-col-4">
          <label for="questionNumber">How many questions will the quiz have?</label>
        </div>
        <div class="p-col-6">
          <input pInputText id="questionNumber" [disabled]="STATE === STATES.VIEW">
        </div>
        <div class="p-col-4">
          <label for="retries">How many retries does a student have?</label>
        </div>
        <div class="p-col-6">
          <input pInputText id="retries" [disabled]="STATE === STATES.VIEW">
        </div>
        <div class="p-col-4">
          <label for="backwards">Can the student go to a previously answered question?</label>
        </div>
        <div class="p-col-6">
          <p-radioButton name="backwardsEnabled" value="true" label="Yes" [disabled]="STATE === STATES.VIEW"></p-radioButton>
          <p-radioButton name="backwardsDisabled" value="false" label="No" [disabled]="STATE === STATES.VIEW"></p-radioButton>
        </div>
        <div class="p-col-4">
          <label for="feedback">Is feedback enabled for this quiz</label>
        </div>
        <div class="p-col-6">
          <p-radioButton name="feedbackEnabled" value="1" label="Yes" [disabled]="STATE === STATES.VIEW"></p-radioButton>
          <p-radioButton name="feedbackDisabled" value="0" label="No" [disabled]="STATE === STATES.VIEW"></p-radioButton>
        </div>
        <div class="p-col-4">
          <label for="public">Is the quiz public?</label>
        </div>
        <div class="p-col-6">
          <p-radioButton name="publicEnabled" value="true" label="Yes" [disabled]="STATE === STATES.VIEW"></p-radioButton>
          <p-radioButton name="publicDisabled" value="false" label="No" [disabled]="STATE === STATES.VIEW"></p-radioButton>
        </div>
        <div class="p-col-4">
          <h2>Categories</h2>
        </div>
        <div class="p-col-8"></div>
        <div class="p-col-8">
          <p-pickList [source]="list1" [target]="list2" [disabled]="STATE === STATES.VIEW">
            <ng-template let-car pTemplate="item">
              <div class="ui-helper-clearfix">
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">a - a - a</div>
              </div>
            </ng-template>
          </p-pickList>
        </div>
        <div class="p-col-4"></div>
        <div class="p-col-4">
          <h2>Questions</h2>
        </div>
        <div class="p-col-8"></div>
        <div class="p-col-8">
          <p-pickList [source]="list1" [target]="list2" [disabled]="STATE === STATES.VIEW">
            <ng-template let-car pTemplate="item">
              <div class="ui-helper-clearfix">
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">a - a - a</div>
              </div>
            </ng-template>
          </p-pickList>
        </div>
        <div class="p-col-4"></div>
        <div class="p-col-4">
          <button pButton type="button" label="Add new question" (click)="addNewQuestion()" [disabled]="STATE === STATES.VIEW"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="p-grid footer" *ngIf="STATE !== STATES.VIEW">
    <div class="p-col-fixed centered edit-buttons">
      <button pButton type="button" label="Save" (click)="saveModalShow(pageModel.flags.readyToPublish)"></button>
      <button pButton type="button" label="Cancel" (click)="cancelConfirmation()"></button>
    </div>
  </div>
</div>

<p-dialog header="Save Confirmation" [(visible)]="displaySaveModal" [modal]="true" [responsive]="true" [width]="350"
  [minWidth]="350" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
  <span>Are you sure you want to save the quiz as it is now?</span>
  <p-footer>
    <button type="button" pButton icon="fa fa-check" (click)="saveArticle()" label="Yes"></button>
    <button type="button" pButton icon="fa fa-close" (click)="displaySaveModal = false" label="No"></button>
  </p-footer>
</p-dialog>