<app-header></app-header>
<div class="p-grid">
    <div class="p-col-12"></div>
</div>
<div class="p-grid spacer">
    <div class="p-col-12"></div>
</div>
<div class="p-grid">
    <div class="p-col-3">
        <button pButton class="actionButton" type="button" label="Create New Quiz" (click)="createQuiz()"></button>
    </div>
    <div class="p-col-3">
        <button pButton class="actionButton" type="button" label="Quiz List" (click)="quizList()"></button>
    </div>
    <div class="p-col-3">
        <button pButton class="actionButton" type="button" label="Statistics" (click)="adminStatistics()"></button>
    </div>
    <div class="p-col-3">
        <button pButton class="actionButton" type="button" label="Sessions" (click)="sessionsList()"></button>
    </div>
</div>

