.p-grid {
    text-align: center;
    margin-right: 0;
}

.spacer {
    height: 15rem;
}

button {
    background: rgb(39, 45, 54);
    border-color: rgb(39, 45, 54);

    &:hover {
        background: rgb(39, 45, 54);
    }
}

.actionButton:hover {
    background: rgb(39, 45, 54);
}

.ui-button { 
    background: rgb(39, 45, 54)
}

.ui-button:hover {
    background: rgb(39, 45, 54)
}

.actionButton {
    height: 8rem;
    width: 12rem;
}
