<div class="p-grid">
  <div class="p-col-fixed centered error-message-container">
    <div class="p-grid">
      <div class="p-col-12">
        <p-messages></p-messages>
      </div>
    </div>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-4"></div>
  <div class="p-col-4 login-logo">
      <img src="../../../assets/images/logo.png" class="logo" alt="Nairu Logo">
  </div>
  <div class="p-col-4"></div>
</div>
<div class="p-grid">
  <div class="p-col-4"></div>
  <div class="p-col-4 login-button">
    <button class="g-signin2" data-onsuccess="onSignIn">Google Signin</button>
  </div>
  <div class="p-col-4"></div>
</div>
<div class="p-grid">
  <div class="p-col-12 page"></div>
</div>